
header {
	background-color: #1565C0;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

header a{
	color: #fff;
	text-decoration: none;
}

header a:hover {
	color: #424242;
	text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background-color: #9e9e9e;
    border-radius: 5px;
}

nav li {
    float: left;
}

nav li a {
	text-decoration: none;
    background-color: #9e9e9e;
    text-align: center;
    padding: 15px 15px;
    display: block;
}

nav li a:hover {
	background-color: #1565C0;
}

body {
	font-family: "Trebuchet MS", Arial, Helvetica;
    font-size: 135%;
	margin: 15px;
}

section {
	margin: auto;
    max-width: 1500px;
    text-align: center;
}

footer {
	background-color: #9e9e9e;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	margin-top: 15px;
}

footer img {
    display: inline-block;
    height: 33px;
    width: 33px;
}
